<html>
<head>
  <title>Find Nearby Parking Locations</title>
  <script src="https://cdn.jsdelivr.net/npm/ol@v7.3.0/dist/ol.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v7.3.0/ol.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <style>
    #map {
      height: 400px;
      width: 100%;
    }
  </style>
</head>
<body>
  <h1>Find Nearby Parking Locations</h1>
  <div id="map"></div>
  <script>
    var map = new ol.Map({
      target: 'map',
      layers: [
        new ol.layer.Tile({
          source: new ol.source.OSM()
        })
      ],
      view: new ol.View({
        center: ol.proj.fromLonLat([-122.4194, 37.7749]),
        zoom: 13
      })
    });

    var lat = 37.7749;
    var lon = -122.4194;
    var url = 'https://overpass-api.de/api/interpreter?data=[out:json];way["amenity"="parking"](around:500,' + lat + ',' + lon + ');out center;';

    var url = 'https://overpass-api.de/api/interpreter?data=[out:xml];way["amenity"="parking"](around:500,' + lat + ',' + lon + ');out center;';

    $.ajax({
    url: url,
    dataType: 'xml',
    success: function(data) {
        var features = new ol.Collection();
        var format = new ol.format.WKT();
        var source = new ol.source.Vector({
        features: features
        });
        var layer = new ol.layer.Vector({
        source: source
        });
        map.addLayer(layer);
        features.clear();
        $(data).find('way').each(function() {
        var wkt = $(this).attr('center');
        var feature = format.readFeature(wkt);
        features.push(feature);
        });
        var iconStyle = new ol.style.Style({
        image: new ol.style.Icon({
            anchor: [0.5, 0.5],
            src: 'https://openlayers.org/en/latest/examples/data/icon.png'
        })
        });
        source.forEachFeature(function(feature) {
        feature.setStyle(iconStyle);
        });
    }
    });
  </script>
</body>
</html>